---
---

<footer class="bg-gray-100 flex flex-col lg:flex-row relative z-0 lg:min-h-[15em]">
    <section class="ml-[2vw] mt-4 lg:w-[40%]">
        <h2 class="font-baskerville text-lg">Cooks & Curls</h2>
        <p class="w-[90%]">This website serves as my personal blog and was developed by me. I give credit in every post if I'm not the owner of the content.</p>
    </section>
    <section class="w-[96vw] mx-auto mt-4 lg:flex lg:flex-col lg:w-auto xl:ml-auto xl:mr-[10vw]">
        <h3 class="font-baskerville">Links</h3>
        <ul id="bottom-nav"class="flex gap-4 pt-2 lg:flex-col">
            <li><a href="" class="relative transition-opacity duration-300 hover:opacity-70">Food</a></li>
            <li><a href="" class="relative transition-opacity duration-300 hover:opacity-70">Gym</a></li>
            <li><a href="" class="relative transition-opacity duration-300 hover:opacity-70">Others</a></li>
        </ul>
    </section>
    <section class="w-[96vw] mx-auto mt-4 mb-16 lg:flex lg:flex-col lg:w-auto xl:ml-4 xl:mr-[5vw]">
        <h3 class="font-baskerville">Socials</h3>
        <ul id="bottom-social" class="mt-2 flex gap-4 lg:grid lg:grid-cols-2">
            <li><a href=""><img src="/instagram.svg" alt="instagram logo" class="w-8 hover:opacity-60 transition-opacity duration-300"></a></li>
            <li><a href=""><img src="/linkedin.svg" alt="linkedin logo" class="w-8 hover:opacity-60 transition-opacity duration-300"></a></li>
            <li><a href=""><img src="/github.svg" alt="github logo" class="w-8 hover:opacity-60 transition-opacity duration-300"></a></li>
            <li><a href=""><img src="/facebook.svg" alt="facebook logo" class="w-8 hover:opacity-60 transition-opacity duration-300"></a></li>
        </ul>
    </section>
    <section class="absolute bottom-4 left-[2vw]">
        &copy; 2024 All rights reserved.
    </section>
</footer>